<html>
    <head>
      <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">
	  var webSocket;
	  var lastMsg = "";
	  var doubleCount = 1;
	  function start(ws_uri){
	  
            if ("WebSocket" in window) {
               webSocket = new WebSocket(ws_uri);
            }
            else {
               // Firefox 7-10 prefixed the WebSocket object
               webSocket = new MozWebSocket(ws_uri);
            }

            var set_stats = function(user){
                $("#hp").html(user.hp + "/" + user.maxhp);
                $("#mp").html(user.mp + "/" + user.maxmp);
                $("#level").html(user.level);
                $("#exp").html(Math.round(user.exp * 10000) / 100);
		$("#monsters").html(user.monsters);
	        $("#weapon").html(user.weapon.name);
            }
 
            webSocket.onmessage = function(e) {
                var data = JSON.parse(e.data);
	        if(data.progress >= 100){
	        $("#title").html('');
	        var messageToShow;
	        if(data.message === lastMsg){
	            doubleCount++;
	            messageToShow = lastMsg + " x" + doubleCount;
                    $("#messages").find(".event:last").html(data.timestamp.split(" ")[1] + " " +  messageToShow);
	        } else {
	        if($(".event").size() == 10){
                  $(".event:first").remove();
                }
	        doubleCount = 1;
                $("#messages").append("<div class='event'>" +
                data.timestamp.split(" ")[1] + " " +  data.message+
                "</div>");
	        }
                lastMsg = data.message;
                } else {
	          $("#title").html(data.message);
	        //TODO: показать текст в заголовке
	        }
                set_stats(JSON.parse(data.user));
	        $(".progress").animate({width: data.progress + "%"});
              //console.log(e.data);
            }

	  webSocket.onclose = function(e){
	     console.log("Connection closed");
	     console.log("Try reconnect...");
	     setTimeout(function(){document.location.reload()}, 3000);
	  }
      
           $("button#send").click(function(){
                webSocket.send($("#message").val());
           });
	  }
          window.onload = function() {
	  
 
            var ws_uri = "ws://localhost:9004";
	    start(ws_uri);
 
         }
      </script>
	<style type="text/css" media="screen">
	  #left {
              width: 400px;
	  }
	  #messages {
              width: 500px;
	  }
	  .invitem {
	      width: 33px;
	      height: 33px;
	      position: relative;
	  }

	  #pbar {
	      border: 1px solid;
	      width: 500px;
	      height: 20px;
	  }

	  .progress {
	     background-color: orange;
	     height: 20px;
	  }

	  #stats {
	     margin-left: 15px;
	  }

	  #title {
	     height: 20px;
	  }
	</style>
   </head>
   <body>
       <h1>Netnehack Dungeon WebSockets Test</h1>
       <div id="container">
	 <div id="left">
	   <div id="messages" style="float: left">
	     <div id="title">
	     </div>
	     <div id="pbar">
	       <div class="progress" style="width: 0%"></div>
	     </div>
	     <input id="message" type="text">
	       <button id="send">Send</button>
	     </div>	 
	   </div>

	   <div id="stats" style="float: left">
	     <div>Здоровье:</div>
	     <div id="hp">0/0</div>
	     <div>Мана:</div>
	     <div id="mp">0/0</div>
	     <div>Уровень:</div>
	     <div id="level">0</div>
	     <div>Опыт, %</div>
	     <div><span id="exp">0</span>%</div>
	     <div>Убито монстров:</div>
	     <div id="monsters">0</div>
	     <div>Оружие</div>
	     <div id="weapon"></div>
	   </div>
	   <div id="hero" style="float: left">
	     <img src="{{url_for('static', filename='hero.png')}}" style="position:relative;z-index:-999;">
	     <div class="invitem" style="left:9px;top:-162px;">
	       <img src="{{url_for('static', filename='icon_sword_long3.png')}}">
	     </div>
	     <div class="invitem" style="left:60px;top:-174px;">
	       <img src="{{url_for('static', filename='icon_chain_breast.png')}}">
	     </div>
	     <div class="invitem" style="left:60px;top:-259px;">
	       <img src="{{url_for('static', filename='icon_chain_helm.png')}}">
	     </div>
	     <div class="invitem" style="left:60px;top:-198px;">
	       <img src="{{url_for('static', filename='icon_plate_legs.png')}}">
	     </div>
	     <div class="invitem" style="left:109px;top:-255px;">
	       <img src="{{url_for('static', filename='icon_plate_gloves.png')}}">
	     </div> 
	   </div>
	 </div>
   </body>
</html>
